<!-- settings -->
<!--<script type="text/ng-template" id="webimmain">-->
    <!--<div ng-include="'pages/html/tpl/blocks/chat.list.html'"></div>-->
<!--</script>-->
<!--<script type="text/ng-template" id="webimmain1">-->
    <!--<div ng-include="'pages/html/tpl/blocks/blank.html'"></div>-->
<!--</script>-->
<script type="text/ng-template" id="myChatDetailModalContent.html">
    <div ng-include="'pages/html/tpl/blocks/chat-detail.html'"></div>
</script>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->
<!--<ul style="margin: 0;padding: 0;">-->
    <!--<li style="display: block;width: 25px;-->
    <!--line-height: 25px;-->
    <!--height: 25px;-->
    <!--text-align: center;">-->
        <!--<i class="fa fa-comment-o" ng-click="openChat()"></i>-->
    <!--</li>-->
    <!--<li style="display: block;width: 25px;-->
    <!--line-height: 25px;-->
    <!--height: 25px;-->
    <!--text-align: center;">-->
        <!--<i class="fa  fa-gear" ng-click="pop()"></i>-->
    <!--</li>-->
    <!--<li style="display: block;width: 25px;-->
    <!--line-height: 25px;-->
    <!--height: 25px;-->
    <!--text-align: center;">-->
        <!--<i class="fa fa-cloud"></i>-->
    <!--</li>-->
    <!--<li style="display: block;width: 25px;-->
    <!--line-height: 25px;-->
    <!--height: 25px;-->
    <!--text-align: center;">-->
        <!--<i class="fa fa-bullhorn"></i>-->
    <!--</li>-->
    <!--<li style="display: block;width: 25px;-->
    <!--line-height: 25px;-->
    <!--height: 25px;-->
    <!--text-align: center;">-->
        <!--<i class="fa fa-cloud-upload"></i>-->
    <!--</li>-->
<!--</ul>-->
<!-- /settings -->